global
    daemon
    log stdout local0 info

defaults
    mode tcp
    log global
    option tcplog
    timeout connect 5s
    timeout client 300s
    timeout server 300s

frontend imap_ssl_frontend
    bind *:1976 ssl crt /etc/ssl/certs/mail.nesono.com.pem
    default_backend imap_backend

backend imap_backend
    server dovecot dovecot:1976 check send-proxy