connect = host=mysql_mail dbname=mailserver user={{mysql_mail_user}} password={{mysql_mail_password}}
driver = mysql

# Default password scheme - change to match your Postfixadmin setting.
# depends on your $CONF['encrypt'] setting:
# md5crypt  -> MD5-CRYPT
# md5       -> PLAIN-MD5
# cleartext -> PLAIN
default_pass_scheme = MD5-CRYPT

# Query to retrieve password. User can be used to retrieve username in other
# formats also.
password_query = SELECT username AS user,password FROM mailbox WHERE username = '%u' AND active='1'

# Query to retrieve user information, note uid matches dovecot.conf AND Postfix virtual_uid_maps parameter.
# MYSQL:
user_query = SELECT CONCAT('/srv/mail/', maildir) AS home, {{vmail_user_id}} AS uid, {{mail_group_id}} AS gid, CONCAT('*:bytes=', quota) AS quota_rule FROM mailbox WHERE username = '%u' AND active='1'
# PostgreSQL:
# user_query =   SELECT '/srv/mail/' || maildir AS home, {{vmail_user_id}} AS uid, {{mail_group_id}} AS gid,
#   '*:bytes=' || quota AS quota_rule FROM mailbox WHERE username = '%u' AND active = '1'

# see: https://doc.dovecot.org/configuration_manual/authentication/sql/#id6
iterate_query = SELECT username as user FROM mailbox WHERE active = '1'

#user_query = SELECT maildir, {{vmail_user_id}} AS uid, {{mail_group_id}} AS gid, 'dict:storage=' || floor(quota/1000) || '::proxy::quota' as quota FROM mailbox WHERE username = '%u' AND active='1'

